---
layout: default
title: AlphaFactory
menu: projects
---

<div id="archives">
  <h2>Projects : Applications</h2>
  <ul class="posts">
  	<h3>Cowon S9 UCI</h3>
  	<ul>
		<li class="project-stop"><a href="comicsviewer">Alpha's S9 Comics Viewer</a></li>
		<li class="project-stop"><a href="cubemusic">Cube Music</a></li>
		<li class="project-stop"><a href="windowsxptheme">Windows XP Theme</a></li>
	</ul>
	<h3>Android</h3>
	<ul>
		<li class="project-stop"><a href="alphamusic">AlphaMUSIC</a></li>
		<li class="project-proceed"><a href="https://play.google.com/store/apps/details?id=com.alphafactory.seekomobile">Seeko Mobile</a></li>
		<li class="project-stop"><a href="ez2djmanager">Ez2Dj™ Manager</a></li>
	</ul>
	<h3>Windows</h3>
	<ul>
		<li class="project-proceed"><a href="comicconverter">Comic Converter</a></li>
	</ul>
  </ul>
</div>