---
layout: default
title: AlphaFactory
---
<div id="archives">
	<h2>Archives</h2>
	{% if site.posts %}
		<ul>
		{% for post in site.posts %}
			{% capture month %}{{ post.date | date: '%m%Y' }}{% endcapture %}
			{% capture nmonth %}{{ post.next.date | date: '%m%Y' }}{% endcapture %}
			{% if month != nmonth %}
				{% if forloop.index != 1 %}
				</ul>
				{% endif %}
				<h3>{{ post.date | date: '%Y %B' }}</h3>
				<ul>
			{% else %}
				{% if forloop.index == 1 %}
				<h3>{{ post.date | date: '%Y %B' }}</h3>
				<ul>
				{% endif %}
			{% endif %}
			<li>
				<a href="{{ post.url }}">{{ post.title }}</a> <time class="archivelist-date">{{ post.date | date: "%Y/%m/%d" }}</time>
			</li>
		{% endfor %}
	{% else %}
	<p>카페고리에 해당하는 포스트가 없습니다.</p>
	{% endif %}
</div>