---
layout: default
title: AlphaFactory
---
<div id="home">	
	
	{% for post in site.posts limit:10 %}

	<div class="uk-article">
		<h1 class="uk-article-title">{{ post.title }}</h1>
		<p class="uk-article-meta">Posted on {{ post.date | date: "%b %d, %Y" }}</p>
		<p class="uk-text-justify">{{ post.content | strip_html | truncatewords:40 }}</p>
		<p class="postlistlinks">
			<a class="uk-button uk-button-primary" href="{{ post.url }}">포스트 보기</a> 
			<a class="uk-button" href="{{ post.url }}#disqus_thread">댓글 달기</a>
		</p>
	</div>
		
	{% endfor %}

	<p class="view-archives"><a href="/archives/">포스트 더 보기</a></p>
</div>
