<div class="uk-alert uk-alert-warning">
  <span class="glyphicon glyphicon-copyright-mark"></span> <strong>저작권</strong><br />
  본 UCI의 모든 저작권은 저에게 있으며, 무단 배포 및 무단 수정을 전면 금지합니다. 또한 Cowon J3와의 호환성에 관하여서는 제가 기기를 가지고 있지 않은 관계로 취급하지 않습니다.
</div>