---
layout: default
---
<article class="uk-article">

	<h1 class="uk-article-title"><a href="{{ page.url }}">{{ page.title }}</a></h1>
	<p class="uk-article-meta">Posted on <span class="postdate">{{ page.date | date: "%b %d, %Y" }}</span></p>

	{% if page.image %}
	<p><img class="featured" src="{{ page.image }}"></p>
	{% endif %}
	
	<div class="post-content uk-text-justify">{{ content }}</div>

	<div class="uk-clearfix uk-margin-bottom">
	    {% if page.previous.url %} 
	     <div class="uk-float-left"><a class="uk-button" href="{{page.previous.url}}" title="{{page.previous.title}}">&laquo; 이전 포스트</a></div>
	    {% else %}
	     <div class="uk-float-left"><button class="uk-button" type="button" disabled>&laquo; 이전 포스트</button></div>
	    {% endif %} 
	    {% if page.next.url %} 
	    <div class="uk-float-right"><a class="uk-button" href="{{page.next.url}}" title="{{page.next.title}}">다음 포스트 &raquo;</a></div>
	    {% else %}
	    <div class="uk-float-right"><button class="uk-button" type="button" disabled>다음 포스트 &raquo;</button></div>
	    {% endif %}     
	</div>

	{% include comment.html %}

</article>